body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.title {
  background: #1d307a;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

#counter {
  font-size: 100px;
  padding: 10px 0;
  text-align: center;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}

.count-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #1d307a;
  border-radius: 100%;
  font-size: 40px;
  color: #fff;
}
